.z-50 {
  z-index: 50 ;
}

.z--1 {
  z-index: -1 ;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.md\:ml-64 {
  margin-left: 16rem; /* 256px */
}

body {
  background-color: transparent;
  margin: 0 auto;
  width: 100%;
  max-width: 120ch;
  padding: 2rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');